.nav-color {
    background-color: white;
}

.nav-color i, li a{
    color: #464646 !important;
}


.pinterest-logo {
    margin-top: 5px;
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.input-nav {
    background: #f1f1f1 !important;
    border-radius: 10px !important;
    margin-top: 10px !important;
}

.button-background-color {
    background-color: lightgrey;
    border-radius: 20px;
}

.user-name {
    padding: 1em;
}

.mini-nav-buttons {
    margin-left: 20%;
}

.mininav-container {
    margin-bottom: 1em;
//    background-color: pink;
}

input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.buttonStyling {
    position: absolute;
    right: 24px;
    bottom: 200px;
}

.mainContent {
  margin-top: 20px;
}

// nav {
//   line-height: 0;
// }
