.nav-color {
    background-color: white;
}

.nav-color i, li a{
    color: #464646 !important;
}


.pinterest-logo {
    margin-top: 5px;
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.input-nav {
    background: #f1f1f1 !important;
    border-radius: 10px !important;
    margin-top: 10px !important;
}

.button-background-color {
    background-color: lightgrey;
    border-radius: 20px;
}

.user-name {
    padding: 1em;
}

.mini-nav-buttons {
    margin-left: 20%;
}

.mininav-container {
    margin-bottom: 1em;
//    background-color: pink;
}

input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
  color: #464646 !important;
}

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
  color: #464646 !important;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
  color: #464646 !important;
}

.mainContent {
  margin-top: 20px;
}

.addPinImg {
  height: 311px;
}

.addPinIcon {
  position: absolute !important;
  right: 150px !important;
  bottom: 145px !important;
}

.buttonColor {
    background-color: #26a69a;
    margin-right: 5px !important;
    color: white;
}

.card .card-image .card-title {
  color: black !important;
  position: relative;
  padding-bottom: 10px;
  margin-top: 10px !important;
}

.card .card-content {
  padding-top: 7px;
}

.btn-floating.halfway-fab {
  bottom: 15px;
}
