.nav-color {
    background-color: red;
}

.button-background-color {
    background-color: lightgrey;
    border-radius: 20px;
}

.user-name {
    padding: 1em;
}

.mini-nav-buttons {
    margin-left: 20%;
}

input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
