<!-- filter by user and selected board -->
<!-- user boards -->
<!--add a pin button  -->
<!-- clickable add to board button -->

  <div class="row">
    <div class="col xs m4" ng-repeat="board in boardArray">
      <div class="card">
        <div class="card-image">
            <img src="../images/sample-1.jpg">
            <span class="card-title"></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">playlist_add</i></a>
        </div>
        <div class="card-content">
          <p>{{board}}</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

<!-- Modals -->

