<!--add a pin button  -->
<!-- clickable add to board button -->

  <div class="row">
    <div class="col xs m4" ng-repeat="pins in allPins">
      <div class="card">
        <div class="card-image">
          <img src="{{pins.url}}">
          <span class="card-title">{{pins.title}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">playlist_add</i></a>
        </div>
        <div class="card-content">
          <p>{{pins.description}}</p>
        </div>
      </div>
    </div>
  </div>
<!-- Modals -->

  <!-- Add Pin Modal Trigger -->
  <a class="waves-effect waves-light btn" data-target='addPin' modal>Modal</a>

  <!-- Add Pin Modal Structure -->
  <div id="addPin" class="modal">
    <div class="modal-content">
      <h4>Add a Pin</h4>
      <input type="text" placeholder="Link">
      <input type="text" placeholder="Title">
      <input type="text" placeholder="Describe this pin">
      <div class="center">
        <div input-field>
              <select class="browser-default" material-select watch>
                  <option ng-repeat="board in boardsArray">Title 1</option>
                  <option ng-repeat="board in boardsArray">Title 2</option>
              </select>
      </div>
        <p>OR</p>
      <input type="text" placeholder="Create New Board">
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a class="btn waves-effect red">Add Pin</a>
    </div>
  </div>
