<!--ability to delete board -->
<!-- list of currently created boards -->
<!-- clickable board takes you to board detail view -->



<div class="row">
    <h3> {{board.title}}</h3>

</div>


<div class="row">

<!--    display pins-->
  <div class="col xs m4" ng-repeat="pins in boardPins">
    <div class="card">
      <div class="card-image">
        <img src="{{pins.url}}">
        <span class="card-title">{{pins.title}}</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" data-target="pin--{{pins.id}}" modal>delete</i></a>
      </div>
      <div class="card-content">
        <p>{{pins.description}}</p>
      </div>
    </div>

       delete pins
    <div id="pin--{{pins.id}}" class="modal">
            <div class="modal-content">
                <h4>Delete This Pin?</h4>
            </div>
            <div class="modal-footer">
                <a href="#!/boards/{{currentBoard}}" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteCurrentPin(pins.id)">Delete</a>
                <a href="#!/boards/{{currentBoard}}" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
    </div>




  </div>
</div>






<!-- MODALS -->
<!--    //add pin-->
<!--
    <div class="col xs m4">
      <div class="card">
        <div class="card-image">
          <img src="images/grey-background.jpg" class="addPinImg">
          <span class="card-title">Add Pin</span>
-->
<!--
          <a class="addPinIcon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" data-target='addProPinModal' modal>library_add</i></a>
        </div>
      </div>
    </div>
-->



<!--add pin modal-->
<!--
  <div id="addProPinModal" class="modal">
    <div class="modal-content">
      <h4>Add a Pin</h4>
      <input type="text" ng-model="newPinObject.url" placeholder="Image Link">
      <input type="text" ng-model="newPinObject.title" placeholder="Title For Pin">
      <input type="text" ng-model="newPinObject.description" placeholder="Description For Pin">
      <div>
            <div input-field>
              <select class="browser-default" material-select watch ng-model="boardArray.id">
                  <option ng-repeat="board in boardArray">{{board.title}}</option>
              </select>
            </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!/boards/{{currentBoard}}" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a href="#!/boards/{{currentBoard}}" class="btn waves-effect red" ng-click="addNewPin()">Add Pin</a>
    </div>
  </div>
-->
