<!-- filter by user  -->
<!-- user pins -->
<!-- add pin -->
<!-- clickable link between board and pins -->

<!-- MODAL -->

<!-- clickable image with delete button-->
<div ng-include="'partials/mininav.html'"></div>

  <div class="row">
    <div class="col xs m4">
      <div class="card">
        <div class="card-image">
          <img src="images/grey-background.jpg" class="addPinImg">
          <span class="card-title">Add Pin</span>
          <!-- Add Pin Modal Trigger -->
          <a class="addPinIcon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" data-target='addProPinModal' modal>library_add</i></a>
        </div>
      </div>
    </div>
    <div class="col xs m4" ng-repeat="pins in pinArray">
      <div class="card">
        <div class="card-image">
          <img src="{{pins.url}}">
          <span class="card-title">{{pins.title}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" data-target='pin--{{pins.id}}' modal>delete</i></a>
        </div>
        <div class="card-content">
          <p>{{pins.description}}</p>
        </div>
      </div>


                      <!--Delete Current Pin Modal-->
        <div id="pin--{{pins.id}}" class="modal">
            <div class="modal-content">
                <h4>Delete This Pin?</h4>
            </div>
            <div class="modal-footer">
                <a href="#!/userPins" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteCurrentPin(pins.id)">Delete</a>
                <a href="#!/boards" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>





    </div>
  </div>
  <!-- Add Pin Modal Structure -->
  <!-- Add Pin Modal Structure -->
  <div id="addProPinModal" class="modal">
    <div class="modal-content">
      <h4>Add a Pin</h4>
      <input type="text" ng-model="newPinObject.url" placeholder="Image Link">
<!--      <input type="text" ng-model="newPinObject.title" placeholder="Title For Pin">-->
      <input type="text" ng-model="newPinObject.description" placeholder="Description For Pin">
      <h5>Choose Exisiting Board</h5>
      <div>
        <div input-field>
              <select  placeholder="select" id="select-id" class="browser-default" material-select watch>
                    <option value="">Select a Board</option>
                  <option  ng-repeat="board in boardArray" value="{{board.id}}">{{board.title}}</option>
              </select>
      </div>
        <p>OR</p>
      <h5>Create New Board:</h5>
      <input type="text" placeholder="Board Name" ng-model="newPinObject.title">
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!/userPins" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a href="#!/userPins" class="btn waves-effect red" ng-click="addNewBoard()">Add Pin</a>
    </div>
  </div>
